.node {
    border-radius: 3px;
    background-color: #666;
    /* border: 1px solid rgba(173, 65, 61, .4); */
    text-align: center;
    padding: 8px;
    display: grid;
    grid-gap: .5%;
    grid-template-columns: 8% 66% 25%;    
    position: relative;
    margin: 10px 0;
    z-index: 0;
    width: 98%;
}
legend{
    font-size: 1.4em;    
    border-radius: 3px;    
    background: #E2E4E6;
    padding:2px 6px;
    text-align: left;
}
fieldset{
    padding: 1% 2%;
    border-color:#d0d0d0;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background: #E2E4E6;
}

.controlsFieldset{
    /* grid-area: 2 / 1 / 2 / 3; */
   /*   */
    
    
}
label {
    margin: 0 5px;
    font-size: 1.4em;
}

.pattern {
    font-size: 3.6em;
    display: grid;
    grid-template-columns: 2% 92% 2%;
    grid-gap: 2%;
    margin-bottom: 10px;
}

.pattern input, .replace{
    color: #444444;
    border-radius: 3px;
    padding: 4px;
    font-size: 2rem;
    border: 0;
    outline: 0;
    height: 32px;
}
.replace {
    width: 96%;
}

.controls {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center

}

button{
    padding: 0;
    border: 0;
    margin:2px 3px;
    background: transparent;
    color: #007FFF;
    outline:0;
}
button svg{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.move-up, .move-down{
    background: white;
}
.clone{
    background: #59AC44;
    color: white;
}
.disable{
    color: #444444;    
}
.delete{
    background: rgba(173, 65, 61);
    color: white;
}

:disabled{
    opacity: .3;
}